body {
    text-align: center;
    background-image: url(https://www.google.cm/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwi_ibbn1_7bAhWB7xQKHU6-AH0QjRx6BAgBEAU&url=https%3A%2F%2Fpixabay.com%2Ffr%2Fphotos%2F%3Fcat%3Dplaces&psig=AOvVaw3noU3ECRg-zjUeH0wH2JJI&ust=1530561389838649);
}

h1 {
    font-family: Aclonica;
    font-size: 70px;
    margin: 0.2em;
    color: red;
}

h2 {
    margin: 1em 0 0.25em;
    font-family: sofia;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
